footer{
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 10px;
     font-size: 14px;
     border-top: 1px solid #222;
     height: 55px;
     box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
     margin-top: 3%;
}